body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiDataGrid-columnHeader:focus-within, .MuiDataGrid-cell:focus-within {
  outline: none !important;
}
.app{
  position: relative !important;
}
.spinner{
  position: absolute !important;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.753);
  z-index: 100;
}